.button {
  padding: 10px 20px;
  background-color: white; 
  color: #6EDA78;          
  border: 1px solid  #f0f0f0;
  ;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: #6EDA78; 
    color: white;              
  }

  &:active {
    background-color: #FFA200; 
    color: white;              
  }
}


.span {
  padding: 2px;
}